@model AstraHealth.Models.PasienModel

@{
    ViewData["Title"] = "Registrasi Pasien";
}
@{
    var httpContext = ViewContext.HttpContext;
}

<style>
    body {
        padding-top: 100px; /* Atur spasi sesuai kebutuhan */
    }

    .input-with-border {
        border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
        border-radius: 4px; /* Bordes sudut */
    }

    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>


<body>
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tambah Pasien Baru</h4>
                <form class="form-sample" method="post">
                    <p class="card-description">
                        Personal info
                    </p>
                    <input asp-for="anm_id" class="form-control input-with-border" value="null" hidden />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_id_pasien" class="col-sm-3 col-form-label">ID Pasien</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_id_pasien" class="form-control input-with-border" placeholder="Masukkan ID Pasien" />
                                    <span asp-validation-for="anm_id_pasien" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_nama_pasien" class="col-sm-3 col-form-label">Nama Pasien</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_nama_pasien" class="form-control input-with-border" placeholder="Masukkan Nama Pasien" />
                                    <span asp-validation-for="anm_nama_pasien" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_prodi_atau_departemen" class="col-sm-3 col-form-label">Prodi atau Departemen</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_prodi_atau_departemen" class="form-control input-with-border" placeholder="Masukkan Prodi / Departemen" />
                                    <span asp-validation-for="anm_prodi_atau_departemen" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_keluhan" class="col-sm-3 col-form-label">Keluhan</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_keluhan" class="form-control input-with-border" placeholder="Masukkan Keluhan"></textarea>
                                    <span asp-validation-for="anm_keluhan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_tensi" class="col-sm-3 col-form-label">Tensi</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_tensi" class="form-control input-with-border" placeholder="Masukkan Tensi" />
                                    <span asp-validation-for="anm_tensi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_diagnosa" class="col-sm-3 col-form-label">Diagnosa</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_diagnosa" class="form-control input-with-border" placeholder="Masukkan Diagnosa"></textarea>
                                    <span asp-validation-for="anm_diagnosa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input id="anm_kecelakaan_kerja" name="rgs_kecelakaan_kerja" type="checkbox" class="col-sm-3 col-form-label form-check-label" />
                                    <label for="anm_kecelakaan_kerja" class="col-sm-3 col-form-label">Kecelakaan Kerja</label>
                                    <span asp-validation-for="anm_kecelakaan_kerja" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_keterangan" class="col-sm-3 col-form-label">Keterangan</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_keterangan" class="form-control input-with-border" placeholder="Masukkan Keterangan"></textarea>
                                    <span asp-validation-for="anm_keterangan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input asp-for="anm_tanggal" class="form-control input-with-border" placeholder="Masukkan Tanggal" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" hidden />
                                    <span asp-validation-for="anm_tanggal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input asp-for="anm_id_admin" class="form-control input-with-border" placeholder="Masukkan ID Admin" value="@httpContext.Session.GetString("Id")" hidden/>
                                    <span asp-validation-for="anm_id_admin" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <label class="col-sm-3 col-form-label">Obat</label>
                                    <button type="button" id="btnTambahBaris" form="pasienForm" class="btn btn-primary">Tambah</button>

                                    <table id="tblPemakaianObat" class="table">
                                        <thead>
                                            <tr>
                                                <th>Nama Obat</th>
                                                <th>Jumlah</th>
                                                <th>Satuan</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-controller="Pasien" asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        var index = 0;

        $("#btnTambahBaris").click(function () {
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><input name="PemakaianObats[' + index + '].pmo_nama_obat" class="form-control" /></td>';
            cols += '<td><input name="PemakaianObats[' + index + '].pmo_jumlah" class="form-control" /></td>';
            cols += '<td><input name="PemakaianObats[' + index + '].pmo_satuan" class="form-control" /></td>';

            cols += '<td>';
            cols += '<input name="PemakaianObats[' + index + '].pmo_id" class="form-control input-with-border" value="null" hidden />';
            cols += '<input name="PemakaianObats[' + index + '].pmo_id_anamnesa" class="form-control input-with-border" value="null" hidden />';
            cols += '<button type="button" class="btnHapusBaris btn btn-danger">Hapus</button>';
            cols += '</td>';

            newRow.append(cols);
            $("#tblPemakaianObat tbody").append(newRow);

            index++;
        });

        $("#tblPemakaianObat").on("click", ".btnHapusBaris", function () {
            $(this).closest("tr").remove();
        });
    });

</script>
