@model AstraHealth.Models.PasienModel

@{
    ViewData["Title"] = "Anamnesa Pasien";
}
@{
    var httpContext = ViewContext.HttpContext;
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.0/html2pdf.bundle.min.js"></script>

    <style>
        body {
            padding-top: 100px; /* Atur spasi sesuai kebutuhan */
        }

        .input-with-border {
            border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
            border-radius: 4px; /* Bordes sudut */
        }

        .card {
            padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
            padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        }

        .card-body {
            background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
            padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
            border-radius: 8px; /* Bordes sudut */
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            text-align: center;
        }

        .title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1; /* Mengisi sisa ruang yang tersedia */
        }

        .logo-container {
            display: flex;
            justify-content: center;
            width: 96px;
        }

        .logo-container img {
            max-width: 100%;
        }
    </style>


</head>

<body>
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Anamnesa Pasien</h4>
                <form class="form-sample" method="post">
                    <input asp-for="anm_id" class="form-control input-with-border" value="null" hidden />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_id_pasien" class="col-sm-3 col-form-label">NIM atau NPK</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_id_pasien" class="form-control input-with-border" placeholder="Masukkan ID Pasien" />
                                    <span asp-validation-for="anm_id_pasien" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_nama_pasien" class="col-sm-3 col-form-label">Nama Pasien</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_nama_pasien" class="form-control input-with-border" placeholder="Masukkan Nama Pasien" />
                                    <span asp-validation-for="anm_nama_pasien" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_prodi_atau_departemen" class="col-sm-3 col-form-label">Prodi atau Departemen</label>
                                <div class="col-sm-9">
                                    <select asp-for="anm_prodi_atau_departemen" class="form-control input-with-border">
                                        <option value="" selected disabled>Pilih Prodi / Departemen</option>
                                        <option value="Pembuatan Peralatan dan Perkakas Produksi">Pembuatan Peralatan dan Perkakas Produksi</option>
                                        <option value="Teknik Produksi dan Proses Manufaktur">Teknik Produksi dan Proses Manufaktur</option>
                                        <option value="Teknologi Konstruksi Bangunan Gedung">Teknologi Konstruksi Bangunan Gedung</option>
                                        <option value="Mesin Otomotif">Mesin Otomotif</option>
                                        <option value="Mekatronika">Mekatronika</option>
                                        <option value="Manajemen Informatika">Manajemen Informatika</option>
                                        <option value="Teknologi Rekayasa Pemeliharaan Alat Berat">Teknologi Rekayasa Pemeliharaan Alat Berat</option>
                                        <option value="Teknologi Rekayasa Logistik">Teknologi Rekayasa Logistik</option>
                                        <option value="DAAA">DAAA</option>
                                        <option value="DKA">DKA</option>
                                        <option value="DAKAP">DAKAP</option>
                                        <option value="GA">GA</option>
                                    </select>
                                    <span asp-validation-for="anm_prodi_atau_departemen" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_keluhan" class="col-sm-3 col-form-label">Keluhan</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_keluhan" class="form-control input-with-border" placeholder="Masukkan Keluhan"></textarea>
                                    <span asp-validation-for="anm_keluhan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_tensi" class="col-sm-3 col-form-label">Tensi</label>
                                <div class="col-sm-9">
                                    <input asp-for="anm_tensi" class="form-control input-with-border" placeholder="Masukkan Tensi" value="" />
                                    <span asp-validation-for="anm_tensi" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_diagnosa" class="col-sm-3 col-form-label">Diagnosa</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_diagnosa" class="form-control input-with-border" placeholder="Masukkan Diagnosa"></textarea>
                                    <span asp-validation-for="anm_diagnosa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input asp-for="anm_kecelakaan_kerja" type="hidden" value="0" />
                                    <input id="anm_kecelakaan_kerja_checkbox" name="anm_kecelakaan_kerja_checkbox" type="checkbox" class="col-sm-3 col-form-label form-check-input" />
                                    <label for="anm_kecelakaan_kerja_checkbox" class="col-sm-3 col-form-label">Kecelakaan Kerja</label>
                                    <span asp-validation-for="anm_kecelakaan_kerja" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="anm_keterangan" class="col-sm-3 col-form-label">Keterangan</label>
                                <div class="col-sm-9">
                                    <textarea asp-for="anm_keterangan" class="form-control input-with-border" placeholder="Masukkan Keterangan" value=""></textarea>
                                    <span asp-validation-for="anm_keterangan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input asp-for="anm_tanggal" class="form-control input-with-border" placeholder="Masukkan Tanggal" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" hidden />
                                    <span asp-validation-for="anm_tanggal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input asp-for="anm_id_admin" class="form-control input-with-border" placeholder="Masukkan ID Admin" value="@httpContext.Session.GetString("Id")" hidden/>
                                    <span asp-validation-for="anm_id_admin" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control">Obat</label>
                        <button type="button" id="btnTambahBaris" form="pasienForm" class="btn btn-primary">Tambah</button>
                        <table id="tblPemakaianObat" class="table">
                        <thead>
                            <tr>
                                <th>Nama Obat</th>
                                <th>Jumlah</th>
                                <th>Satuan</th>
                                <th>Aksi</th>
                           </tr>
                           </thead>
                           <tbody>
                           </tbody>
                        </table>
                    </div>
                    <button type="submit" name="submitButton" value="submit" class="btn btn-primary mr-2 submit-button">Submit</button>
                    <button type="submit" name="submitButton" value="rujukan" class="btn btn-primary mr-2 rujukan-button">Rujukan</button>
                    <a asp-controller="Pasien" asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="parentDiv">
                    <div class="modal-header">
                        <div class="logo-container">
                            <img src="~/content/images/IMG_Logo.png" alt="logo" />
                        </div>
                        <div class="title-wrapper">
                            <h3 class="modal-title modal-lg" style="color: black;">SURAT KETERANGAN</h3>
                            <h3 class="modal-title modal-lg" style="color: black;">PEMERIKSAAN KESEHATAAN PASIEN</h3>
                        </div>
                        <div class="logo-container">
                            <img src="~/content/images/IMG_Logo.png" alt="logo" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <p style="color: black;">Nama: </p>
                        <p style="color: black;">Dept/Prodi/UPT: </p>
                        <p style="color: black;">NRP/NIM: </p>
                        <br>
                        <p style="color: black;">Hasil Pemersiksaan :</p>
                        <p style="color: black;">Mengalami gejala</p>
                        <br>
                        <br>
                        <br>
                        <p style="color: black;">Setelah dilakukan pemeriksaan Pasien disarankan untuk pulang dan istirahat</p>
                        <p style="color: black;">Selama (Satu) Hari</p>
                        <br>
                        <p style="color: black;">Demikian hasil pemeriksaan ini dibuat untuk dapat digunakan sebagaimana mestinya</p>
                        <div class="tanggal-surat-wrapper">
                            <p id="tanggalSurat" style="text-align: left; margin-right: 80px; color: black;">Cikarang: [Tanggal]</p>
                        </div>
                        <br>
                        <div class="logo-container">
                            <img src="~/content/images/Tanda_tangan.jpg" alt="logo" />
                        </div>
                        <p style="color: black;">Dina Yuliana Amd.Keb</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-secondary" id="printPdf">Cetak</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</body>

<script>
    $("#printPdf").click(function () {
        var element = document.getElementById('parentDiv');

        // Mendapatkan nilai dari field-field yang ada di form
        var namaPasien = $("input[name='anm_nama_pasien']").val() || '';
        var prodiDepartemen = $("select[name='anm_prodi_atau_departemen'] option:selected").text() || '';
        var idPasien = $("input[name='anm_id_pasien']").val() || '';
        var diagnosa = $("textarea[name='anm_diagnosa']").val() || '';

        // Mendapatkan tanggal saat ini dan formatnya ke "dd/MMM/yyyy"
        var today = new Date();
        var options = { day: '2-digit', month: 'short', year: 'numeric' };
        var tanggalSurat = today.toLocaleDateString('id-ID', options); // Format tanggal

        document.getElementById('tanggalSurat').textContent = "Cikarang: " + tanggalSurat;

        // Generate teks untuk dimasukkan ke dalam modal-body
        var modalText = `<p style="color: black;">Nama:      ${namaPasien}</p>
                        <p style="color: black;">Dept/Prodi/UPT:     ${prodiDepartemen}</p>
                        <p style="color: black;">NRP/NIM:     ${idPasien}</p>
                        <br>
                        <p style="color: black;">Hasil Pemersiksaan :</p>
                            <p style="color: black;">Mengalami gejala ${diagnosa}</p>
                        <br>
                        <br>
                        <br>
                        <p style="color: black;">Setelah dilakukan pemeriksaan Pasien disarankan untuk pulang dan istirahat</p>
                        <p style="color: black;">Selama (Satu) Hari</p>
                        <br>
                        <p style="color: black;">Demikian hasil pemeriksaan ini dibuat untuk dapat digunakan sebagaimana mestinya</p>
                        <div class="tanggal-surat-wrapper">
                            <p id="tanggalSurat" style="text-align: left; margin-right: 80px; color: black;">Cikarang: ${tanggalSurat}</p>
                        </div>
                        <br>
                        <div class="logo-container">
                            <img src="~/content/images/Tanda_tangan.jpg" alt="logo" />
                        </div>
                        <p style="color: black;">Dina Yuliana Amd.Keb</p>`;

        // Mengganti isi dari modal-body dengan teks yang telah disiapkan
        $('.modal-body').html(modalText);

        //generate pdf
        html2pdf()
            .from(element)
            .set({
                margin: [5, 10], // Atur margin kiri dan atas (dalam satuan milimeter)
                filename: 'surat keterangan sakit pasien.pdf',
                html2canvas: { scale: 1 },
                jsPDF: { format: 'a4' }
            })
            .save();
    });


    $(document).ready(function () {
        var index = 0;

        $("#btnTambahBaris").click(function () {
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><input name="PemakaianObats[' + index + '].pmo_nama_obat" class="form-control" /></td>';
            cols += '<td><input name="PemakaianObats[' + index + '].pmo_jumlah" class="form-control" type="number" /></td>';
            cols += '<td>' +
                '<select name="PemakaianObats[' + index + '].pmo_satuan" class="form-control input-with-border">' +
                '<option value="" selected disabled>Pilih Satuan Obat</option>' +
                '<option value="buah">Buah</option>' +
                '<option value="kotak">Kotak</option>' +
                '<option value="strip">Strip</option>' +
                '<option value="botol">Botol</option>' +
                '<option value="vial">Vial</option>' +
                '<option value="ampul">Ampul</option>' +
                '<option value="tube">Tube</option>' +
                '<option value="paket">Paket</option>' +
                '<option value="dus">Dus</option>' +
                '<option value="sachet">Sachet</option>' +
                '<option value="plat">Plat</option>' +
                '</select>' +
                '</td>';

            cols += '<td>';
            cols += '<input name="PemakaianObats[' + index + '].pmo_id" class="form-control input-with-border" value="null" hidden />';
            cols += '<input name="PemakaianObats[' + index + '].pmo_id_anamnesa" class="form-control input-with-border" value="null" hidden />';
            cols += '<button type="button" class="btnHapusBaris btn btn-danger">Hapus</button>';
            cols += '</td>';

            newRow.append(cols);
            $("#tblPemakaianObat tbody").append(newRow);

            index++;
        });

        $("#tblPemakaianObat").on("click", ".btnHapusBaris", function () {
            $(this).closest("tr").remove();
        });

        $(".submit-button").click(function (e) {
            e.preventDefault(); // Mencegah pengiriman formulir secara default
            var buttonValue = $(this).val();
            $("input[name='submitButton']").val(buttonValue);

            if (validateForm()) {
                Swal.fire({
                    title: "Surat Izin?",
                    text: "Buat Surat Izin?",
                    icon: "question",
                    confirmButtonText: "Iya",
                    showDenyButton: true,
                    denyButtonText: "Tidak",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Jika "Iya" diklik, tampilkan modal
                        $('#myModal').modal('show');
                    } else {
                        // Jika "Tidak" diklik, kirim formulir
                        $('form').append('<input type="hidden" name="submitButton" value="submit" />');
                        $('form').submit();
                    }
                });
            }
        });

        $(".rujukan-button").click(function (e) {
            e.preventDefault(); // Mencegah pengiriman formulir secara default
            $('input[name="submitButton"]').val("rujukan");

            if (validateForm()) {
                $('form').append('<input type="hidden" name="submitButton" value="rujukan" />');
                $('form').submit();
            }
        });

        $("#myModal").on("hidden.bs.modal", function () {
            // Jika modal ditutup, lanjutkan menyimpan data
            $('form').append('<input type="hidden" name="submitButton" value="submit" />');
            $('form').submit();
        });

        function validateForm() {
            // Ganti dengan nama kolom yang sesuai
            var requiredFields = ["anm_id_pasien", "anm_nama_pasien", "anm_prodi_atau_departemen", "anm_keluhan", "anm_diagnosa", "anm_prodi_atau_departemen"];

            for (var i = 0; i < requiredFields.length; i++) {
                var field = requiredFields[i];
                var value = $("#" + field).val();
                if (!value) {
                    Swal.fire("Gagal!", "Isi data dengan lengkap!", "warning");
                    return false;
                }
            }
            return true;
        }
    });



</script>
