@model AstraHealth.Models.RujukanModel

@{
    ViewData["Title"] = "Rujukan";
}
@{
    var httpContext = ViewContext.HttpContext;
}

<style>
    body {
        padding-top: 100px; /* Atur spasi sesuai kebutuhan */
    }

    .input-with-border {
        border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
        border-radius: 4px; /* Bordes sudut */
    }

    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>


<body>
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rujukan</h4>
                <form class="form-sample" method="post">
                    <p class="card-description">
                        Personal info
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="rjk_id_anamnesa" class="col-sm-3 col-form-label">ID Anamnesa</label>
                                <div class="col-sm-9">
                                    <input asp-for="rjk_id_anamnesa" class="form-control input-with-border" placeholder="Masukkan ID Anamnesa" readonly />
                                    <span asp-validation-for="rjk_id_anamnesa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="rjk_rumah_sakit" class="col-sm-3 col-form-label">Rumah Sakit</label>
                                <div class="col-sm-9">
                                    <input asp-for="rjk_rumah_sakit" class="form-control input-with-border" placeholder="Masukkan Nama Rumah Sakit" />
                                    <span asp-validation-for="rjk_rumah_sakit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="rjk_keterangan" class="col-sm-3 col-form-label">Keterangan</label>
                                <div class="col-sm-9">
                                    <input asp-for="rjk_keterangan" class="form-control input-with-border" placeholder="Masukkan Keterangan" />
                                    <span asp-validation-for="rjk_keterangan" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="rjk_tanggal" class="col-sm-3 col-form-label">Tanggal</label>
                                <div class="col-sm-9">
                                    <input asp-for="rjk_tanggal" class="form-control input-with-border" placeholder="Masukkan Tanggal" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                                    <span asp-validation-for="rjk_tanggal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary mr-2 submit-button">Submit</button>
                    <a asp-controller="Pasien" asp-action="Index" class="btn btn-light">Cancel</a>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title modal-lg d-flex justify-content-center align-items-center">Laporan Diagnosa Sakit</h2>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="parentDiv">
                    <!-- Tabel Modal -->
                    <table class="table datatable" id="myTable">
                        <thead style="background-color: #37003C; color: white;">
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-secondary" id="printPdf">Cetak</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</body>
<script>
    $(document).ready(function () {
        $(".submit-button").click(function (e) {
            e.preventDefault(); // Mencegah pengiriman formulir secara default

            if (validateForm()) {
                Swal.fire({
                    title: "Surat Izin?",
                    text: "Buat Surat Izin?",
                    icon: "question",
                    confirmButtonText: "Iya",
                    showDenyButton: true,
                    denyButtonText: "Tidak",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Jika "Iya" diklik, tampilkan modal
                        $('#myModal').modal('show');
                    } else {
                        // Jika "Tidak" diklik, kirim formulir
                        $('form').submit();
                    }
                });
            }
        });

        $("#myModal").on("hidden.bs.modal", function () {
            // Jika modal ditutup, lanjutkan menyimpan data
            $('form').submit();
        });

        function validateForm() {
            // Ganti dengan nama kolom yang sesuai
            var requiredFields = ["rjk_rumah_sakit"];

            for (var i = 0; i < requiredFields.length; i++) {
                var field = requiredFields[i];
                var value = $("#" + field).val();
                if (!value) {
                    Swal.fire("Gagal!", "Isi data dengan lengkap!", "warning");
                    return false;
                }
            }
            return true;
        }
    });
</script>