@model AstraHealth.Models.RujukanModel

@{
    ViewData["Title"] = "Rujukan";
}
@{
    var httpContext = ViewContext.HttpContext;
}

<style>
    .input-with-border {
        border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
        border-radius: 4px; /* Bordes sudut */
    }


    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Rujukan</h2>
                                <hr />
                                <form class="form-sample" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="anm_id_pasien" class="col-sm-3 col-form-label">ID Pasien</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="anm_id_pasien" class="form-control input-with-border" placeholder="Masukkan ID Pasien" readonly />
                                                    <span asp-validation-for="anm_id_pasien" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="anm_nama_pasien" class="col-sm-3 col-form-label">Nama Pasien</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="anm_nama_pasien" class="form-control input-with-border" placeholder="Masukkan ID Pasien" readonly />
                                                    <span asp-validation-for="anm_nama_pasien" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="anm_prodi_atau_departemen" class="col-sm-3 col-form-label">Program Studi atau Departemen</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="anm_prodi_atau_departemen" class="form-control input-with-border" placeholder="Masukkan ID Pasien" readonly />
                                                    <span asp-validation-for="anm_prodi_atau_departemen" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="anm_diagnosa" class="col-sm-3 col-form-label">Diagnosa</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="anm_diagnosa" class="form-control input-with-border" placeholder="Masukkan ID Pasien" readonly />
                                                    <span asp-validation-for="anm_diagnosa" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="rjk_rumah_sakit" class="col-sm-3 col-form-label">Rumah Sakit</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="rjk_rumah_sakit" class="form-control input-with-border" placeholder="Masukkan Nama Rumah Sakit" />
                                                    <span asp-validation-for="rjk_rumah_sakit" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="rjk_keterangan" class="col-sm-3 col-form-label">Keterangan</label>
                                                <div class="col-sm-9">
                                                    <input asp-for="rjk_keterangan" class="form-control input-with-border" placeholder="Masukkan Keterangan" />
                                                    <span asp-validation-for="rjk_keterangan" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary mr-2 submit-button">Submit</button>
                                    <a asp-controller="Pasien" asp-action="Index" class="btn btn-light">Kembali</a>

                                </form>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title modal-lg d-flex justify-content-center align-items-center">Laporan Diagnosa Sakit</h2>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="parentDiv">
                                        <!-- Tabel Modal -->
                                        <table class="table datatable" id="myTable">
                                            <thead style="background-color: #37003C; color: white;">
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                        <button type="button" class="btn btn-secondary" id="printPdf">Cetak</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".submit-button").click(function (e) {
            e.preventDefault(); // Mencegah pengiriman formulir secara default

            if (validateForm()) {
                Swal.fire({
                    title: "Surat Izin?",
                    text: "Buat Surat Izin?",
                    icon: "question",
                    confirmButtonText: "Iya",
                    showDenyButton: true,
                    denyButtonText: "Tidak",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Jika "Iya" diklik, tampilkan modal
                        $('#myModal').modal('show');
                    } else {
                        // Jika "Tidak" diklik, kirim formulir
                        $('form').submit();
                    }
                });
            }
        });

        $("#myModal").on("hidden.bs.modal", function () {
            // Jika modal ditutup, lanjutkan menyimpan data
            $('form').submit();
        });

        function validateForm() {
            // Ganti dengan nama kolom yang sesuai
            var requiredFields = ["rjk_rumah_sakit"];

            for (var i = 0; i < requiredFields.length; i++) {
                var field = requiredFields[i];
                var value = $("#" + field).val();
                if (!value) {
                    Swal.fire("Gagal!", "Isi data dengan lengkap!", "warning");
                    return false;
                }
            }
            return true;
        }
    });
</script>