@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AstraHealth.Models.KeperluanMedisModel
@{
    ViewData["Title"] = "Edit Keperluan Alat Medis";
}

<style>
    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Tambah Catatan</h2>
                                <hr />
                                <form method="post" asp-controller="KeperluanMedis" asp-action="Edit">
                                    <div class="form-group">
                                        <input asp-for="kpm_id" class="form-control" hidden />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="kpm_nama_barang" class="control-label">Nama Barang</label>
                                        <input asp-for="kpm_nama_barang" class="form-control" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="kpm_jumlah" class="control-label">Jumlah</label>
                                        <input asp-for="kpm_jumlah" class="form-control" readonly />
                                    </div>
                                    <label asp-for="kpm_satuan" class="control-label">Satuan</label>
                                    <div class="form-group">
                                        <select asp-for="kpm_satuan" class="form-control input-with-border">
                                            <option value="buah">Buah</option>
                                            <option value="kotak">Kotak</option>
                                            <option value="strip">Strip</option>
                                            <option value="botol">Botol</option>
                                            <option value="vial">Vial</option>
                                            <option value="ampul">Ampul</option>
                                            <option value="tube">Tube</option>
                                            <option value="paket">Paket</option>
                                            <option value="dus">Dus</option>
                                            <option value="sachet">Sachet</option>
                                            <option value="plat">Plat</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="kpm_catatan" class="control-label">Catatan</label>
                                        <textarea asp-for="kpm_catatan" class="form-control" type="text"></textarea>
                                        <span asp-validation-for="kpm_catatan" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="kpm_tanggal_pengajuan" class="form-control" hidden>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="kpm_tanggal_aksi" class="form-control" hidden>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="kpm_status" class="form-control" hidden>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="kpm_id_admin" class="form-control" hidden>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="kpm_id_manajer" class="form-control" hidden>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary submit-button">Simpan</button>
                                        <a asp-controller="KeperluanMedis" asp-action="Index" class="btn btn-light">Kembali</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".submit-button").click(function (e) {
            if (!validateForm()) {
                e.preventDefault();
            }
        });

        function validateForm() {
            var field = "kpm_catatan";
            var value = $("#" + field).val();
            if (!value) {
                Swal.fire("Gagal!", "Isi catatan terlebih dahulu!", "warning");
                return false;
            }
        }
    });
</script>