@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AstraHealth.Models.KeperluanMedisModel
@{
    ViewData["Title"] = "Edit Keperluan Alat Medis";
}

<style>
    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>


<div class="content">
    <div class="contrainer-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                       
                    </div>
                    <div class="card-body">
                        <div class="pagetitle">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">Keperluan Alat Medis</li>
                                    <li class="breadcrumb-item active">Edit Keperluan Alat Medis</li>
                                </ol>
                            </nav>
                        </div>
                        <form method="post" asp-controller="KeperluanMedis" asp-action="Edit">
                            <div class="form-group">
                                <input asp-for="kpm_id" class="form-control" hidden />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpm_nama_barang" class="control-label">Nama Barang</label>
                                <input asp-for="kpm_nama_barang" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpm_jumlah" class="control-label">Jumlah</label>
                                <input asp-for="kpm_jumlah" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpm_satuan" class="control-label">Satuan</label>
                                <input asp-for="kpm_satuan" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpm_catatan" class="control-label">Catatan</label>
                                <textarea asp-for="kpm_catatan" class="form-control" type="text"></textarea>
                                <span asp-validation-for="kpm_catatan" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpm_tanggal_pengajuan" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpm_tanggal_aksi" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpm_status" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpm_id_admin" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                                <a asp-controller="Obat" asp-action="Index" class="btn btn-light">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
