@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard AstraHealth";
}
<style>
    body {
        padding-top: 100px; /* Atur spasi sesuai kebutuhan */
      

    }

    h4 {
        padding-left: 50px;
    }

    .row {
        padding-left: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
    }
</style>


<body>


    <h4 class="card-title">Dashboard Unit Kesehatan Kampus</h4>
    <h4 class="card-description">Welcome to the dashboard</h4>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="icon-wrap bg-primary mb-4">
                                    <i class="mdi mdi-briefcase ml-auto"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold mb-2">823</h1>
                                <h6 class="text-dark">Number of Sales</h6>
                                <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="icon-wrap bg-success mb-4">
                                    <i class="mdi mdi-content-paste ml-auto"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold mb-2">3240</h1>
                                <h6 class="text-dark">Totol Orders</h6>
                                <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="icon-wrap bg-info mb-4">
                                    <i class="mdi mdi-ticket-percent ml-auto"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold mb-2">45%</h1>
                                <h6 class="text-dark">Covension Rate</h6>
                                <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="icon-wrap bg-danger mb-4">
                                    <i class="mdi mdi-star-circle ml-auto"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold mb-2">2543</h1>
                                <h6 class="text-dark">Avg Orders</h6>
                                <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="d-xl-flex align-items-start justify-content-between">
                                <div>
                                    <h4 class="card-title mb-1">Unique visitors</h4>
                                    <p class="font-weight-light">Number of unique visitors</p>
                                </div>
                                <p class="text-muted">30 days</p>
                            </div>
                            <h1 class="mt-3">46,085</h1>
                            <p class="font-weight-medium mb-1"> less purchase <span class="text-muted">31.82%</span></p>
                        </div>
                        <div class="area-chart-wrapper">
                            <canvas id="unique-visitors-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="d-xl-flex align-items-start justify-content-between">
                                <div>
                                    <h4 class="card-title mb-1">Refunds</h4>
                                    <p class="font-weight-light">Value of refunded orders</p>
                                </div>
                                <p class="text-muted">30 days</p>
                            </div>
                            <h1 class="mt-3">$4,523.00</h1>
                            <p class="font-weight-medium mb-1"> less purchase <span class="text-muted">31.82%</span></p>
                        </div>
                        <div class="area-chart-wrapper">
                            <canvas id="refund-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex align-items-start justify-content-between mb-4">
                                <div>
                                    <h4 class="card-title mb-1">Latest Transaction</h4>
                                </div>
                                <a href="#" class="btn btn-light mt-3 mt-lg-0">View Notes</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Employee Name</th>
                                            <th>Department</th>
                                            <th>Project</th>
                                            <th>Discipline</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-1">B12</td>
                                            <td><img src="images/faces/face1.jpg" alt="image" class="mr-2" />Ethel Doyle</td>
                                            <td>Marketing</td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>34</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>100%</p></td>
                                            <td>$400</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B13</td>
                                            <td><img src="images/faces/face2.jpg" alt="image" class="mr-2" />Jesse Ray</td>
                                            <td>Finance</td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>12</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>87%</p></td>
                                            <td>$380</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B14</td>
                                            <td><img src="images/faces/face3.jpg" alt="image" class="mr-2" />Cameron</td>
                                            <td>H & R</td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>23</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>90%</p></td>
                                            <td>$384</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B15</td>
                                            <td><img src="images/faces/face4.jpg" alt="image" class="mr-2" />Jose Ball</td>
                                            <td>Health</td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>71</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>60%</p></td>
                                            <td>$412</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B16</td>
                                            <td><img src="images/faces/face5.jpg" alt="image" class="mr-2" />Angel Adkins</td>
                                            <td>Public relations </td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                                            <td>$404</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B17</td>
                                            <td><img src="images/faces/face6.jpg" alt="image" class="mr-2" />Jared Carr</td>
                                            <td>Public relations </td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                                            <td>$623</td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">B18</td>
                                            <td><img src="images/faces/face7.jpg" alt="image" class="mr-2" />Jared Carr</td>
                                            <td>Public relations </td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                                            <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                                            <td>$623</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-xl-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="card-title mb-1">Visit & Conversions</h4>
                                </div>
                                <div class="chart-legend" id="visit-conversion-chart-legend">
                                </div>
                            </div>
                            <canvas id="visit-conversion-chart"></canvas>
                            <p class="text-small mt-4">The total number of Page Impressions within the date range</p>
                            <div class="d-flex mt-3">
                                <h5 class="mr-3">Value:$198</h5>
                                <h5>Rate:$356</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-xl-flex align-items-center justify-content-between mb-4">
                                <div>
                                    <h4 class="card-title mb-1">Traffic Sources</h4>
                                </div>
                                <div class="chart-legend" id="traffic-source-chart-legend"></div>
                            </div>
                            <canvas id="traffic-source-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
</body>
