
@{
    ViewData["Title"] = "Dashboard AstraHealth";
    int no = 1;
}

    <style>

        body {
            padding-top: 60px; /* Atur spasi sesuai kebutuhan */
        }

        .row {
            padding-left: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
            padding-right: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        }

  
    </style>


<body>
    <img class="d-block w-100" src="~/content/images/Banner.png">
    <div class="row">

        <div class="row">
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoTransformationInHarmony.png" class="wow fadeInUp fast" style="width: 60%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoKampusMerdeka.png" class="wow fadeInUp fast" style="width: 30%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoSatuIndonesia.png" class="wow fadeInUp fast" style="width: 40%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
        </div>

        <!-- Bagian Tabel Pasien -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex align-items-start justify-content-between mb-4">
                                <div>
                                    <h4 class="card-title mb-1">Pasien Terbaru</h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-xl-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="card-title mb-1">Visit & Conversions</h4>
                                </div>
                                <div class="chart-legend" id="visit-conversion-chart-legend">
                                </div>
                            </div>
                            <canvas id="visit-conversion-chart"></canvas>
                            <p class="text-small mt-4">The total number of Page Impressions within the date range</p>
                            <div class="d-flex mt-3">
                                <h5 class="mr-3">Value:$198</h5>
                                <h5>Rate:$356</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
  
        <div class="container">
            <br>
            <div class="row justify-content-center" style="margin: 0;">
                <div class="col-lg-12" style="text-align: center;">
                    <h3 style="font-weight: bold;">Jadwal Operasional</h3>
                    <h5><i>"Mahasiswa/wi dan karyawan dapat melihat Jam Operasional berikut ini"</i></h5>
                    <br>
                </div>
                <div class="col-lg-4 mb-3 wow fadeIn fast" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1;">
                    <div class="card-wrapper">
                        <div id="card-0" class="card text-center flipped">
                            <div>
                                <div class="card-up" style="background-color: #0059AB; height: auto; padding: 20px; font-size: 25px; color: white; font-weight: bold;">
                                    Jadwal Operasional
                                </div>
                                <br>
                                <!-- Tombol untuk memunculkan modal -->
                                <button class="btn btn-primary" style="background-color: #0059AB;" data-toggle="modal" data-target="#myModal">
                                    Selengkapnya
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!-- Added "modal-lg" class for a larger modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>
                            <strong class="modal-title" id="exampleModalLabel">Jadwal Operasional</strong>
                        </h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4><strong>
                            Informasi UKK
                            </strong>
                        </h4>
                        <p>Unit Kesehatan Kampus bertujuan untuk memberikan layanan kesehatan kepada mahasiswa dan karyawan. Berikut adalah beberapa informasi penting:</p>
                        <ul>
                            <li>Layanan kesehatan: Unit Kesehatan Kampus menyediakan layanan kesehatan umum, pemeriksaan kesehatan berkala, serta penanganan awal dalam keadaan darurat.</li>
                            <li>Jadwal operasional: Unit Kesehatan Kampus beroperasi sesuai dengan jadwal yang ditentukan untuk memastikan ketersediaan layanan kesehatan yang optimal.</li>
                        </ul>
                        <br>
                        <h4>
                            <strong>
                                Jadwal Operasional :
                                <br>
                                <br>
                                <img src="~/content/images/JadwalOperasional.jpeg" />
                            </strong>
                        </h4>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
