@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard AstraHealth";
}

    <style>

        body {
            padding-top: 60px; /* Atur spasi sesuai kebutuhan */
        }

        .row {
            padding-left: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
            padding-right: 40px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        }

  
    </style>


<body>
    <img class="d-block w-100" src="~/content/images/Banner.png">
    <div class="row">

        <div class="row">
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoTransformationInHarmony.png" class="wow fadeInUp fast" style="width: 60%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoKampusMerdeka.png" class="wow fadeInUp fast" style="width: 30%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
            <div class="col-lg-4" style="text-align: center; padding: 40px 0px;">
                <img src="~/content/images/IMG_LogoSatuIndonesia.png" class="wow fadeInUp fast" style="width: 40%; visibility: visible; animation-name: fadeInUp; animation-iteration-count: 1;">
            </div>
        </div>


  
        <div class="container">
            <br>
            <div class="row justify-content-center" style="margin: 0;">
                <div class="col-lg-12" style="text-align: center;">
                    <h3 style="font-weight: bold;">Jadwal Operasional</h3>
                    <h5><i>"Mahasiswa/wi dan karyawan dapat melihat Jam Operasional berikut ini"</i></h5>
                    <br>
                </div>
                <div class="col-lg-4 mb-3 wow fadeIn fast" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1;">
                    <div class="card-wrapper">
                        <div id="card-0" class="card text-center flipped">
                            <div>
                                <div class="card-up" style="background-color: #0059AB; height: auto; padding: 20px; font-size: 25px; color: white; font-weight: bold;">
                                    Jadwal Operasional
                                </div>
                                <br>
                                <!-- Tombol untuk memunculkan modal -->
                                <button class="btn btn-primary" style="background-color: #0059AB;" data-toggle="modal" data-target="#myModal">
                                    Selengkapnya
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>
                        <strong class="modal-title" id="exampleModalLabel">Jadwal Operasional</strong>
                        </h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4><strong>
                            Informasi UKK
                            </strong>
                        </h4>
                        <p>Unit Kesehatan Kampus bertujuan untuk memberikan layanan kesehatan kepada mahasiswa dan karyawan. Berikut adalah beberapa informasi penting:</p>
                        <ul>
                            <li>Layanan kesehatan: Unit Kesehatan Kampus menyediakan layanan kesehatan umum, pemeriksaan kesehatan berkala, serta penanganan awal dalam keadaan darurat.</li>
                            <li>Jadwal operasional: Unit Kesehatan Kampus beroperasi sesuai dengan jadwal yang ditentukan untuk memastikan ketersediaan layanan kesehatan yang optimal.</li>
                        </ul>
                        <h4>
                            <strong>
                                Jadwal Operasional :
                            </strong>
                        </h4>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
