@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AstraHealth.Models.ObatModel
@{
    ViewData["Title"] = "Edit Obat";
}

<style>
    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>
<div class="content">
    <div class="contrainer-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Keperluan Obat</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Obat" asp-action="Edit">
                            <div class="form-group">
                                <input asp-for="kpo_id" class="form-control" hidden />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpo_nama_obat" class="control-label">Nama Obat</label>
                                <input asp-for="kpo_nama_obat" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpo_jumlah" class="control-label">Jumlah</label>
                                <input asp-for="kpo_jumlah" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpo_satuan" class="control-label">Satuan</label>
                                <input asp-for="kpo_satuan" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="kpo_catatan" class="control-label">Catatan</label>
                                <textarea asp-for="kpo_catatan" class="form-control" type="text"></textarea>
                                <span asp-validation-for="kpo_catatan" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpo_tanggal_pengajuan" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpo_tanggal_aksi" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpo_status" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <input asp-for="kpo_id_admin" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                                <a asp-controller="Obat" asp-action="Index" class="btn btn-light">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
