@model AstraHealth.Models.AkunModel

@{
    ViewData["Title"] = "Tambah Akun";
}

<style>
    .input-with-border {
        border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
        border-radius: 4px; /* Bordes sudut */
    }


    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Tambah Akun</h2>
                                <hr />
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <i class="bi bi-check-circle me-1"></i>
                                            <strong>@TempData["ErrorMessage"]</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                }
                                <form asp-controller="Akun" asp-action="Create" class="forms-sample" method="post">
                                    <div class="form-group">
                                        <label asp-for="akn_id">NPK<span style="color:red">*</span></label>
										<span id="id" style="color:red;display:none;">harus diisi</span>
                                        <div class="input-group">
                                            <input asp-for="akn_id" id="akn_id" type="text" class="form-control input-with-border" placeholder="NPK">
                                        </div>
                                        <span asp-validation-for="akn_id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_nama">Nama<span style="color:red">*</span></label>
                                        <span id="nama" style="color:red;display:none;">harus diisi</span>
                                        <div class="input-group">
                                            <input asp-for="akn_nama" id="akn_nama" type="text" class="form-control input-with-border" placeholder="Nama">
                                        </div>
                                        <span asp-validation-for="akn_nama" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_password">Password<span style="color:red">*</span></label>
                                        <span id="password" style="color:red;display:none;">harus diisi</span>
                                        <div class="input-group">
                                            <input asp-for="akn_password" id="passwordInput" type="password" class="form-control input-with-border" placeholder="Password">
                                            <div class="form-group-append">
                                                <span class="input-group-text bg-light border-left-0" style="height:50px">
                                                    <i id="togglePassword" class="mdi mdi-eye-outline text-primary"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="akn_password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_role">Role<span style="color:red">*</span></label>
                                        <span id="role" style="color:red;display:none;">harus diisi</span>
                                        <div class="input-group">
                                            <select asp-for="akn_role" id="akn_role" class="form-control form-control-lg">
                                                <option value="" disabled selected>Pilih role</option>
                                                <option value="admin">admin</option>
                                                <option value="manajer">manajer</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="akn_role" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="akn_status" type="text" class="form-control input-with-border" placeholder="Status" value="aktif" hidden>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2 submit-button">Simpan</button>
                                    <a asp-controller="Akun" asp-action="Index" class="btn btn-light">Kembali</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('passwordInput');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Ubah ikon berdasarkan status password
            togglePassword.classList.toggle('mdi-eye-outline', type === 'password');
            togglePassword.classList.toggle('mdi-eye-off-outline', type === 'text');
        });

        //span error
        document.querySelector('button[type="submit"]').addEventListener('click', function (event) {
            // Reset previous error messages
            document.getElementById('id').style.display = 'none';
            document.getElementById('nama').style.display = 'none';
            document.getElementById('password').style.display = 'none';
            document.getElementById('role').style.display = 'none';

            // Check username
            var akn_id = document.getElementById('akn_id').value;

            if (!akn_id.trim()) {
                document.getElementById('id').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            } 
            if (!/^\d+$/.test(akn_id)) {
                // Jika terdapat angka dalam akn_nama
                document.getElementById('id').textContent = 'id tidak boleh berupa huruf';
                document.getElementById('id').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }

            var akn_nama = document.getElementById('akn_nama').value;

            if (!akn_nama.trim()) {
                document.getElementById('nama').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }
            if (/\d/.test(akn_nama)) {
                // Jika terdapat angka dalam akn_nama
                document.getElementById('nama').textContent = 'nama tidak boleh berupa angka';
                document.getElementById('nama').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }

            // Check password
            var akn_password = document.getElementById('passwordInput').value;

            if (!akn_password.trim()) {
                document.getElementById('password').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }

            var akn_role = document.getElementById('akn_role').value;

            if (!akn_role.trim()) {
                document.getElementById('role').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }
        });

        document.getElementById("akn_id").addEventListener("blur", function (event) {
            // Reset previous error messages
            var idError = document.getElementById('id');
            idError.style.display = 'none';

            // Check username
            var akn_id = this.value.trim();

            if (!akn_id) {
                idError.textContent = 'harus diisi';
                idError.style.display = 'inline';
            } else if (!/^\d+$/.test(akn_id)) {
                // Jika terdapat angka dalam akn_nama
                idError.textContent = 'npk tidak boleh berupa huruf';
                idError.style.display = 'inline';
            }
        });

        document.getElementById("akn_nama").addEventListener("blur", function (event) {
            // Reset previous error messages
            var namaError = document.getElementById('nama');
            namaError.style.display = 'none';

            // Check username
            var akn_nama = this.value.trim();

            if (!akn_nama) {
                namaError.textContent = 'harus diisi';
                namaError.style.display = 'inline';
            } else if (/\d/.test(akn_nama)) {
                // Jika terdapat angka dalam akn_nama
                namaError.textContent = 'nama tidak boleh berupa angka';
                namaError.style.display = 'inline';
            }
        });

        document.getElementById("passwordInput").addEventListener("blur", function (event) {
            // Reset previous error messages
            var passwordError = document.getElementById('password');
            passwordError.style.display = 'none';

            // Check username
            var akn_password = this.value.trim();

            if (!akn_password) {
                passwordError.textContent = 'harus diisi';
                passwordError.style.display = 'inline';
            }
        });

        document.getElementById("akn_role").addEventListener("blur", function (event) {
            // Reset previous error messages
            var roleError = document.getElementById('role');
            roleError.style.display = 'none';

            // Check username
            var akn_role= this.value.trim();

            if (!akn_role) {
                roleError.textContent = 'harus diisi';
                roleError.style.display = 'inline';
            }
        });
        //end span error
    });

    $(document).ready(function () {
        $(".submit-button").click(function (e) {
            if (!validateForm()) {
                e.preventDefault();
            }
        });

        function validateForm() {


            var requiredFields = ["akn_id", "akn_nama", "passwordInput", "akn_role"];

            for (var i = 0; i < requiredFields.length; i++) {
                var field = requiredFields[i];
                var value = $("#" + field).val();
                if (!value) {
                    Swal.fire("Gagal!", "Isi data dengan lengkap!", "warning");
                    return false;
                }
            }

            return true; // Tambahkan ini agar formulir dianggap valid
        }
    });
</script>