@model AstraHealth.Models.AkunModel

@{
    ViewData["Title"] = "Tambah Akun";
}

<style>
    .input-with-border {
        border: 1px solid #ddd; /* Warna dan ketebalan garis tepi */
        border-radius: 4px; /* Bordes sudut */
    }


    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Tambah Akun</h2>
                                <hr />
                                <form asp-controller="Akun" asp-action="Create" class="forms-sample" method="post">
                                    <div class="form-group">
                                        <label asp-for="akn_id">NPK</label>
                                        <input asp-for="akn_id" type="text" class="form-control input-with-border" placeholder="NPK">
                                        <span asp-validation-for="akn_id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_nama">Nama</label>
                                        <input asp-for="akn_nama" type="text" class="form-control input-with-border" placeholder="Nama">
                                        <span asp-validation-for="akn_nama" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_password">Password</label>
                                        <div class="input-group">
                                            <input asp-for="akn_password" id="passwordInput" type="password" class="form-control input-with-border" placeholder="Password">
                                            <div class="form-group-append">
                                                <span class="input-group-text bg-light border-left-0">
                                                    <i id="togglePassword" class="mdi mdi-eye-outline text-primary"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="akn_password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="akn_role">Role</label>
                                        <select asp-for="akn_role" class="form-control input-with-border">
                                            <option value="" disabled selected>Pilih role</option>
                                            <option value="admin">admin</option>
                                            <option value="manajer">manajer</option>
                                        </select>
                                        <span asp-validation-for="akn_role" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="akn_status" type="text" class="form-control input-with-border" placeholder="Status" value="aktif" hidden>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2 submit-button">Simpan</button>
                                    <a asp-controller="Akun" asp-action="Index" class="btn btn-light">Kembali</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('passwordInput');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Ubah ikon berdasarkan status password
            togglePassword.classList.toggle('mdi-eye-outline', type === 'password');
            togglePassword.classList.toggle('mdi-eye-off-outline', type === 'text');
        });
    });

    $(document).ready(function () {
        $(".submit-button").click(function (e) {
            if (!validateForm()) {
                e.preventDefault();
            }
        });

        function validateForm() {
            var requiredFields = ["akn_id", "akn_nama", "akn_password", "akn_role"];

            for (var i = 0; i < requiredFields.length; i++) {
                var field = requiredFields[i];
                var value = $("#" + field).val();
                if (!value) {
                    Swal.fire("Gagal!", "Isi data dengan lengkap!", "warning");
                    return false;
                }
            }

            return true; // Tambahkan ini agar formulir dianggap valid
        }
    });
</script>