@model AstraHealth.Models.AkunModel
@{
    ViewData["Title"] = "Edit Akun";
}

<style>
    body {
        background-image: url('content/images/IMG_Background.jpg');
        background-size: 100%;
    }

    .card {
        padding-left: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-right: 50px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-body {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        padding: 20px; /* Sesuaikan dengan jumlah padding yang diinginkan */
        border-radius: 8px; /* Bordes sudut */
    }
</style>

<body>
    <section class="section">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="main-panel">
                    <div class="content-wrapper d-flex align-items-center auth px-0">
                        <div class="row w-100 mx-0">
                            <div class="col-lg-4 mx-auto">
                                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                    <h2>Ganti Kata Sandi</h2>
                                    <hr />
                                    <form class="pt-3" method="post" asp-controller="Akun" asp-action="EditPassword">
                                        <input asp-for="akn_id" id="akn_id" class="form-control form-control-lg" placeholder="NPK" style="display:none" >
                                        <input asp-for="akn_nama" id="akn_nama" class="form-control form-control-lg" placeholder="NPK" style="display:none">
                                        <input asp-for="akn_role" id=   "akn_role" class="form-control form-control-lg" placeholder="NPK" style="display:none">
                                        <input asp-for="akn_status" id="akn_status" class="form-control form-control-lg" placeholder="NPK" style="display:none">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <h4>Kata Sandi Lama <span style="color:red">*</span></h4>
                                                <span id="password" style="color:red;display: none">harus diisi</span>
                                                @if (TempData["ErrorMessage"] != null)
                                                {
                                                    <span id="errorValid" style="color:red">@TempData["ErrorMessage"]</span>
                                                }
                                            </div>
                                            <input asp-for="akn_password" type="password" class="form-control form-control-lg" placeholder="Kata Sandi Lama">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <h4>Kata Sandi Baru <span style="color:red">*</span></h4>
                                                <span id="password_baru" style="color:red;display:none;">harus diisi</span>
                                            </div>
                                            <input asp-for="akn_password_baru" id="akn_password_baru" type="password" class="form-control form-control-lg" placeholder="Kata Sandi Baru">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <h4>Konfirmasi Kata Sandi Baru <span style="color:red">*</span></h4>
                                                <span id="konfirmasi_password" style="color:red;display:none;">harus diisi</span>
                                            </div>
                                            <input name="akn_konfirmasi_password" id="akn_konfirmasi_password" type="password" class="form-control form-control-lg" placeholder="Konfirmasi Kata Sandi">
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2 submit-button">Simpan</button>
                                        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-light">Kembali</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </section>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('akn_password').addEventListener('blur', function () {
            document.getElementById('password').style.display = 'none';
            document.getElementById('errorValid').style.display = 'none';

            // Ambil nilai dari input
            var passwordValue = this.value.trim();

            // Periksa apakah nilai password diisi
            if (!passwordValue) {
                document.getElementById('password').textContent = 'harus diisi';
                document.getElementById('password').style.display = 'inline';
            }
        });

        document.getElementById('akn_password_baru').addEventListener('blur', function () {
            document.getElementById('password_baru').style.display = 'none';

            // Ambil nilai dari input
            var passwordBaruValue = this.value.trim();

            // Periksa apakah nilai password baru diisi
            if (!passwordBaruValue) {
                document.getElementById('password_baru').textContent = 'harus diisi';
                document.getElementById('password_baru').style.display = 'inline';
            }
        });

        // Tambahkan event listener untuk event blur
        document.getElementById('akn_konfirmasi_password').addEventListener('blur', function () {
            document.getElementById('konfirmasi_password').style.display = 'none';

            // Ambil nilai dari input
            var konfirmasiPasswordValue = this.value.trim();
            var passwordBaruValue = document.getElementById('akn_password_baru').value;

            // Periksa apakah nilai konfirmasi password diisi
            if (!konfirmasiPasswordValue) {
                document.getElementById('konfirmasi_password').textContent = 'harus diisi';
                document.getElementById('konfirmasi_password').style.display = 'inline';
            } else if (konfirmasiPasswordValue !== passwordBaruValue) {
                // Jika tidak sama, tampilkan pesan error
                document.getElementById('konfirmasi_password').textContent = 'tidak sama';
                document.getElementById('konfirmasi_password').style.display = 'inline';
            }
        });

        document.querySelector('button[type="submit"]').addEventListener('click', function (event) {
            // Reset previous error messages
            document.getElementById('password').style.display = 'none';
            document.getElementById('password_baru').style.display = 'none';
            document.getElementById('konfirmasi_password').style.display = 'none';

            // Check username
            var akn_password = document.getElementById('akn_password').value;

            if (!akn_password.trim()) {
                document.getElementById('password').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }

            var akn_password_baru = document.getElementById('akn_password_baru').value;

            if (!akn_password_baru.trim()) {
                document.getElementById('password_baru').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }

            // Check password
            var akn_konfirmasi_password = document.getElementById('akn_konfirmasi_password').value;

            if (!akn_konfirmasi_password.trim()) {
                document.getElementById('konfirmasi_password').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            } else if (akn_konfirmasi_password != akn_password_baru) {
                document.getElementById('konfirmasi_password').textContent = 'tidak sama';
                document.getElementById('konfirmasi_password').style.display = 'inline';
                event.preventDefault(); // Prevent form submission
            }
        });
    });
</script>